@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* MONSERRAT 400 600 700 */

/* ========== CSS VARIABLES ========== */

:root{
    --header-height: 3.5rem;
    /* ========== COLORS ========== */
    --body-color: rgb(19,20,22);
    --black-color: rgb(10, 10, 11);
    --text-color: rgb(172, 175, 185);
    --white-color: rgb(249, 250, 250);
    --title-color: rgb(249, 250, 250);
    --first-color: rgb(131, 201, 74);
    --first-color-light: hsl(93, 58%, 66%);
    --container-color: hsl(228, 6%, 12%);
    --shadow-img: drop-shadow(0 0 48px  rgba(131,201,74,.4));


   /* ========== FONTS ========== */
   --body-font: "Montserrat", sans-serif;
   --biggest-font-size: 2.25rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --normal-font-size: .938rem ; 
   --small-font-size: .875rem ; 


   /* ========== FONTS WEIGHT ========== */
   --font-regular: 400;
   --font-semi-bold: 600;
   --font-bold: 700;
           
   /* ========== ZINDEX ========== */
   --zindex-max: 100 ;
}


/* ========== CSS BASE ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.container{
    max-width: 1150px;
    margin-inline: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

.section-title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    margin-bottom: 1rem;
}

.grid{
    display: grid;
    gap: 3rem;
}

img{
    width: 100%;
    height: auto;
    display: block;
}
a {
    text-decoration: none;
}

ul{
    list-style: none;
}





/* ========== HEADER & NAV ========== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--zindex-max);
}

.nav{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo,
.nav-close,
.nav-action,
.nav-toggle{
    display: flex;
    color: var(--title-color);
    cursor: pointer;
}

.nav-logo{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    column-gap: .5rem;
    align-items: center;
}

.nav-logo i{
    font-weight: initial;
    color: var(--first-color);
    font-size: 1.25rem;
}

.nav-action{
    column-gap: .5rem;
    font-size: 1.25rem;
    align-items: center;
}

/* ========= BLUR-HEADER ========== */
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 13, 19, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: -1;
}

/* ========== NAVIGATIONBAR ON MOBILE SCREEN ========== */
@media screen and (max-width: 1150px) {
    .nav-menu{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 75%;
        background-color: rgba(12, 13, 19, 0.2);;
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        padding: 6rem 3rem 0;
        transition: right .4s;
    }
}

.nav-list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav-link{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    transition: color .4s;
}

.nav-link:hover{
    color: var(--first-color);
}

.nav-close{
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
    font-size: 1.25rem;
}

/* ========== SHOW MENU ========== */
.show-menu{
    right: 0;
}

/* ========== SHOW MENU ========== */
.home-container{
    padding-top: 2.5rem;
    row-gap: 2rem;
}

.home-img{
    width: 250px;
    justify-self: center;
    filter: var(--shadow-img);
}

.home-data{
    text-align: center;
}

.home-title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}

.home-title span{
    color: var(--first-color);
}

.home-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.button{
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: var(--font-bold);
    padding: .5rem 1.5rem .5rem .5rem;
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}

.button span{
    background-color: var(--first-color);
    padding: .5rem;
    border-radius: 50%;
    font-size: 1.25rem;
    display: grid;
    align-items: center;
    transition: transform .4s;
}

.button:hover span{
    transform: translateX(.15rem) rotate(-30deg);
}

.button-link{
    color: var(--white-color);
    text-decoration: underline;
    font-weight: var(--font-bold);
    transition:  color .4s;
}

.button-link:hover{
    color: var(--first-color);
}

/* ========== NEW SECTION ========== */
.new-container{
    row-gap: 7rem;
}

.new-data{
    text-align: center;
}

.section-title span{
    color: var(--first-color);
}

.new-content{
    row-gap: 6rem;
}

.content-card{
    position: relative;
    width: 200px;
    padding: 9rem .75rem 1.5rem;
    border: 2px solid var(--first-color-light);
    border-radius: 1.5rem;
    background: linear-gradient(180deg,
                                hsla(93, 8%, 8%),
                                hsla(93, 40%, 30%));
}

.content-img{
    position: absolute;
    top: -4.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 160px;
    transition: transform .4s;
}

.content-card:hover .content-img{
    transform: translateY(-.5rem);
}

.new-title{
    text-align: center;
    font-size: var(--h2-font-size);
}

.content-card:nth-child(odd){
    rotate: 5deg;
}

.content-card:nth-child(even){
    justify-self: flex-end;
    rotate: -5deg;
}

/* ========== SHOP CONTAINER ============ */
.shop-container{
    padding-top: 6.5rem;
    grid-template-columns: repeat(2,1fr);
    gap: 6rem 1.5rem;
}

.shop-card{
    position: relative;
    background: linear-gradient(180deg,
                                hsla(93, 8%, 8%),
                                hsla(93, 40%, 30%));
    padding: 5.5rem .75rem 1.25rem ;
    border: 2px solid var(--first-color-light);
    border-radius: 1rem;
}

.shop-img{
    position: absolute;
    top: -4rem;
    width: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform .4s;
}

.shop-card:hover .shop-img{
    transform: translateY(-.5rem);
}

.shop-title{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .5rem;
}

.shop-price{
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.shop-btn{
    position: absolute;
    right: .75rem;
    bottom: .75rem;
    background-color: var(--white-color);
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 1.25rem;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .4s;
}

.shop-btn:hover{
    transform: scale(1.2);
    color: var(--white-color);
    background-color: var(--black-color);
}

/* ========= CARE SECTION =========== */

.care-container{
    padding-top: 2rem;
    row-gap: 2rem;
}

.care-img{
    width: 270px;
    justify-self: center;
    filter: var(--shadow-img);
}

.care-list{
    display: grid;
    row-gap: 1rem;
    align-items: flex-start;
}

.care-items{
    display: flex;
    align-items: center;
    column-gap: .5rem;

}

.care-items i{
    /* background-color: var(--first-color); */
    color: var(--first-color);
    font-size: 1.25rem;
}

/* =========== CONTACT SECTION =========== */

.contact-container{
    padding-top: 2rem;
    row-gap: 2rem;
}

.contact-img{
    width: 270px;
    justify-self: center;
    filter: var(--shadow-img);
}

.contact-content{
    display: grid;
    text-align: center;
    row-gap: 2rem;
}

.contact-title{
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.contact-social{
    display: flex;
    justify-content: center;
    column-gap: .75rem;
}

.contact-social i{
    font-size: 1.25rem;
    color: var(--first-color);
}

.contact-info{
    font-style: normal;
}

/* ========== FOOOTER SECTION ================ */

.footer{
    padding-block: 4rem 2rem;
}

.footer-container{
    row-gap: 4rem;
}

.footer-logo{
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: .75rem;
}

.footer-logo i{
    color: var(--first-color);
    font-weight: initial;
    font-size: 1.5rem;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 4rem 3rem;
}

.footer-title{
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.footer-link{
    display: grid;
    row-gap: .75rem;
}

.footer-links{
    color: var(--text-color);
    transition: color .4s;
}

.footer-social{
    display: flex;
    column-gap: .75rem;
}

.footer-social-links{
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color .4s;
}

.footer-social-links:hover,
.footer-links:hover{
    color: var(--first-color);

}

.footer-copy{
    margin-top: 6rem;
    display: block;
    text-align: center;
    font-size: var(--normal-font-size);
}

/* ============ SCROLL UP ================ */
.scroll-up{
    position: fixed;
    bottom: -50%;
    right: 1rem;
    background-color: var(--container-color);
    color: var(--text-color);
    padding: 6px;
    font-size: 1.25rem;
    box-shadow: 0 12px 24px hsla(228, 48%, 4%, .5);
    z-index: 10;
    transition: bottom .4s, transform .4s;

}

.scroll-up:hover{
    transform: translateY(-.5rem);
}

.show-scroll{
    bottom: 3rem;
}


/* ACTIVE LINKS */
.active-link{
    color: var(--first-color);
}

/* ============ SCROLL BAR ================ */
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsla(228, 4%, 15%);

}

::-webkit-scrollbar-thumb{
    background-color: hsla(228, 4%, 25%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsla(228, 4%, 35%);
}


/* MEIDA QUERRY FOR SMALL DEVICES */

@media screen and (max-width: 320px){
    .container{
        margin-inline: 1rem;
    }

    .home-img{
        width: 200px;
    }

    .home-title{
        font-size: 1.75rem;
    }

    .home-buttons{
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .section-title{
        font-size: 1.25rem;
    }

    .new-content{
        grid-column: 200px;
        justify-content: center;
    }

    .content-card{
        width: 160px;
    }

    .content-img{
        width: 120px;
    }

    .new-title{
        font-size: 1rem;
    }

    .shop-container{
        grid-template-columns: 200px;
        justify-content: center;
    }

    .care-img{
        width: 200px;
    }

    .contact-img{
        width: 200px;
    }

    .contact-title{
        font-size: 1rem;
    }

    .footer-content{
        grid-template-columns: 250px;
        align-items: center;
    }

    .footer-copy{
        font-size: .75rem;
    }
}


